body {background-color: rgb(0, 0, 0);}

.logo h1 {
  position: fixed;/*fixedを設定して固定*/
  z-index: 999;/*最前面へ*/
    left: 0%;
    top: 0%;
    transform: translate(-0%, 0%);
}


/*トップページの動画*/
.video1{    
    position: relative;
    filter: brightness(65%);
    z-index: -1;
    width: 100%;
    right:0;
    left:0;
    bottom:0;
}

/*動画とロゴの重ね*/
.relative{
  position: relative;
}

.absolute{
  position: absolute;
  width: 30%;
  opacity: 1;
  top: 0vh;
  transform: translate(120%, 20%);
  padding: 40px 0 0 0 ;
}

/*ヘッダー*/
.inner {
  max-width: 1000px;
  padding: 0 10px;
  box-sizing: content-box;
  }
  .header {
  z-index: 1;
  background: #4b4b4b;
  /*position: fixed;*/
  top: 0;
  left: 0;
  right: 0;
  }
  .header-inner {
  display: flex;
  align-items: center;
  }
  .header-title a{
  color: #333;
  font-size: 24px;
  font-weight: bold;
  }
  .header-nav {
  margin-left: 0px;
  margin: 0 0 0 auto;
  }
  .header-nav-list {
  display: flex;
  }
  .header-nav-item:not(:first-child){
  margin-left: 40px;
  }
  .header-nav-item-link {
  font-size: 100%;
  font-family: 'Cormorant', serif;
  display: block;
  color: #ffffff;
  height: 80px;
  line-height: 80px;
  }

/*検索フォームの設定*/
#form4{
  position:relative;
  max-width:400px;	
  margin: 12px 10% 0 0;
  /* justify-content: flex-end; */
  }
  #sbox4{
  height:51px;
  padding:0 10px; 
  /*position:absolute;*/
  left:0;
  top:0; 
  border-radius:25px;
  outline:0;
  background:#eee;
  }
  #sbtn4{
  z-index: 1;
  height:50px;
  width:50px;	
  position:absolute; 
  left:200px; 
  top:0;
  background:#7fbfff;
  color:#ffffff;
  border:none;
  border-radius:0 25px 25px 0;
  }
  #sbtn4 .fa-search{
  font-size:15px;	
  position:absolute;
  top:30%;
  left:30%;	
  }
  #sbtn4:hover{
  color:#888;
  }

  /* .search-btn{
  z-index: 1;
  height:39px;
  width:50px;	
  position:absolute; 
  left:200px; 
  top:0;
  background:#7fbfff;
  color:#ffffff;
  border:none;
  border-radius:0 25px 25px 0;
  } */

/*タイトルの設定*/
.title {
    font-family: 'Cormorant', serif;
    color: white;
    font-weight: bold;
    /*margin-top: 300px;*/
    font-size: 8vw;
    padding: 15% 20px 15% 20px;
}

/*テキストの設定*/
.kennsaku_text{
  font-size: 1.2rem;
  padding: 4px 8px;
  width: 245px;
  box-sizing: border-box;
  border-radius: 20px;
  border: solid 1px #ccc;
  background-color: #fff;
  font-family: "Ubuntu", "Noto Sans JP", sans-serif;
}

.kennsaku_text:focus{
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

@font-face {
  font-family: "myfont";
  src: url("@/assets/font/くまもと本丸ゴシックmini.otf") format("opentype");
}
@font-face {
  font-family: "titlefont";
  src: url("@/assets/font/ipaexm.ttf") format("truetype");
}
@font-face {
  font-family: "mainfont";
  src: url("@/assets/font/851MkPOP_101.ttf") format("truetype");
}
@font-face {
  font-family: "naiyoufont";
  src: url("@/assets/font/HannariMincho-Regular.otf") format("opentype");
}
.p1 {
    color: white;
    font-size: 3.5vw;
    font-family: "myfont", sans-serif;
    padding: 3% 20%;
}

.p1_midasi{
    color: white;
    font-size: 3.5vw;
    font-family: "myfont", sans-serif;
    padding: 0 2%;
}

.p2 {
    color: white;
    font-size: 1.2vw;
}

.p3 {
  color: #fff;
  font-size: 1.5vw;
}

.p4{
  color: #fff;
  font-size: 2.5vw;
  font-family: 'Cormorant', serif;
}
.p5{
  font-family: 'Cormorant', serif;
  font-size: 1.2vw;
}
.p6{
  font-family: "Hannari";
  color: #fff;
  font-size: 2.5vw;
}
.kategory{
  color: #fff;
  font-size: 3.5vw;
  font-family: 'Cormorant', serif;
}


a {
    display: block;
    text-decoration: none;
    color: white;
}

/*トップページの写真の配列*/
#cards {
    display: flex;
    justify-content: center;
    height: auto;

  }
  
  .card {
    width: 30%;
    height: 60%;
    border: 1px solid rgb(0, 0, 0);
  }
  
  /*
  .card:nth-child(2) {
    margin-right: 10%;
    margin-left: 10%;
  }
  */
  
  .picture img {
    width: 90%;
    height: 80%;
    border-radius: 5px;
    transition: all 0.5s;
  }

  .picture img:hover{
    width: 100%;
    height: 90%;
  }
  
  /*
  .description {
    width: 100%;
    height: 145px;
    padding-right: 12px;
    padding-left: 12px;
    box-sizing: border-box;
  }
  
  .description p {
    font-size: 13px;
    color: dimgray;
  }
  */

/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/
.splash {
    /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background:#333;
  text-align:center;
  color:#fff;

}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* animation:1s linear 0s infinite rotation1; */
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
  width:260px;
}

/* fadeUpをするアイコンの動き */

.fadeUp{
animation-name: fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity: 0;

}

/* @keyframes rotation1{
  0%{ transform:rotate(0);}
  100%{ transform:rotate(360deg); }
} */

@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}


.Page1 {
  margin: 0 0 0 10%;
  filter: brightness(80%);
  border-radius: 30px;
}

.Subtitle {
  font-family: "Hannari";
  padding-top: 10%;
  color: #fff;
  font-size: 500%;
}

.Subtitle1 {
  font-family: "Hannari";
  padding-top: 10%;
  color: #fff;
  font-size: 1.5vw;
}


.Time{
  font-size: 280%;
  width: 49%;
  color: #fff;
  margin: 5% 0 0 20%;
  padding: 0;
}

.Time1{
  font-size: 240%;
  width: 49%;
  color: #fff;
  margin: -25% 0 0 77.5%;
  padding: 0;
}


.flex{
  display: flex;
  justify-content: space-between;
}

.Picture1{
  width: 49%;
  margin: 5% 0 0 7%;
  filter: brightness(80%);
  border-radius: 30px;
}

.center {
  position: absolute;
  display: inline-block;
  transform: translate(-50%, -50%);
  left: 50%;
}

/** Custom Select **/
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
  .custom-select-wrapper select {
    display: none;
  }
  .custom-select {
    position: relative;
    display: inline-block;
  }
    .custom-select-trigger {
      position: relative;
      display: block;
      width: 300px;
      padding: 0 84px 0 22px;
      font-size: 22px;
      font-weight: 300;
      color: #fff;
      line-height: 40px;
      background: #505050;
      border-radius: 4px;
      cursor: pointer;
    }
      .custom-select-trigger:after {
        position: absolute;
        display: block;
        content: '';
        width: 10px; height: 10px;
        top: 50%; right: 25px;
        margin-top: -3px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg) translateY(-50%);
        transition: all .4s ease-in-out;
        transform-origin: 50% 0;
      }
      .custom-select.opened .custom-select-trigger:after {
        margin-top: 3px;
        transform: rotate(-135deg) translateY(-50%);
      }
  .custom-options {
    position: absolute;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    margin: 15px 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #fff;
    transition: all .4s ease-in-out;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
  }
  .custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }
    .custom-options:before {
      position: absolute;
      display: block;
      content: '';
      bottom: 100%; right: 25px;
      width: 7px; height: 7px;
      margin-bottom: -4px;
      border-top: 1px solid #b5b5b5;
      border-left: 1px solid #b5b5b5;
      background: #fff;
      transform: rotate(45deg);
      transition: all .4s ease-in-out;
    }
    .option-hover:before {
      background: #f9f9f9;
    }
    .custom-option {
      position: relative;
      display: block;
      padding: 0 22px;
      border-bottom: 1px solid #b5b5b5;
      font-size: 18px;
      font-weight: 600;
      color: #b5b5b5;
      line-height: 47px;
      cursor: pointer;
      transition: all .4s ease-in-out;
    }
    .custom-option:first-of-type {
      border-radius: 4px 4px 0 0;
    }
    .custom-option:last-of-type {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }

    /*検索ボタンのフォント*/
    .kensaku{
      color: #fff;
    }

    /*おすすめスイーツの画像サイズ*/
    .png_1 {
      border-radius: 16px;
      width: 50%;
      margin: auto;
      transition: all 0.5s;
      filter: brightness(1.0);
    }

    .png_1:hover{
      filter: brightness(1.2);
    }
    .png_2 {
      border-radius: 16px;
      height: 40%;
      width: 80%;
    }
    
    

    .kategori_1{
      width: 30%;
      height: 40%;
    }


    footer{
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: #174a5c;
      color: white;
      text-align: center;
    }
    ul.footer-menu li {
    display: inline;
    }
    .footer_text{
      color: #fff;
    }


    /*おすすめスイーツ*/
    .osusume{
      padding: 10% 0;
    }
    /*画像のスライドのパディング*/
    .slider{
      padding: 50px 20px 50px 20px;
    }

    /*カテゴリーページの設定*/
    .category_hyouji{
      padding: 10% 0 10% 0;
    }

    .main {
      color: #fff;
      font-family: 'Cormorant', serif;
    }
    /* .main img{
      border-radius: 32px;
      height: 100%;
      width: 70%;
    } */
    .post{
      text-align: center;
    }

    .category_1{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .category_2{
      text-align: center;
      font-family: 'Cormorant', serif;
      font-size: 100%;
      font-weight: bold;
    }

    .category_1 img{
      width: 40%;
      height: 50%;
      transition: all 0.5s;
    }

    .category_1 img:hover{
      width: 45%;
      height: 55%;
    }



    /*レシピ一覧の配列*/
    .recipe{
      display: flex;
      flex-flow:row wrap;
      justify-content: center;
      /* grid-template-columns: 1fr 1fr 1fr; */
      height: 100%;
      margin-top: 80px;
    }

    .recipe img{
      width: 100%;
      height: 100%;
      border-radius: 16px;
    }

    .recipe_hairetu{
      height: 100%;
      /* margin: 5%; */
      text-align: center;
      font-family: 'Cormorant', serif;
      font-size: 100%;
      font-weight: bold;
      padding: 40px 0 30px 0;
      justify-content: space-around;
      /* width: calc(100% / 3 - 4%); */
    }

    /*レシピの詳細ページの設定*/
    /*写真の配置とテキストの並び*/
    .calorie{
      padding: 10% 0 10% 0;
    }
    .img_setting{
      text-align: center;
    }
    .recipe_img{
      border-radius: 32px;
      width: 70%;
      /* height: 100%;
      width: 70%; */
      object-fit: cover;
    }
    .text_setting{
      padding: 0 5% 0 5%;
      border: 2px solid #ffffff;
      border-radius: 16px;
      width: 50%;
      font-family: "titlefont", sans-serif;;
    }
    .calorie_text{
      font-size: 2.5vw;
      padding-top: 5%;
    }

    .recipe_title {
      font-family: 'Cormorant', serif;
      color: white;
      font-weight: bold;
      /*margin-top: 300px;*/
      font-size: 7.5vw;
      text-align: center;
      padding: 50px 30px 50px 30px;
    }

    /*材料テキストの配置*/
    .material{
      padding: 0 10%;
      font-size: 3vw;
      font-family: "titlefont", sans-serif;;
    }

    .material_tag{
      padding: 10% 0;
    }

    
    /*ヘッダーの設定*/
    :root {
      --background-navbar: rgba(55, 55, 55, 0.98);
    }

    .header {
      background: var(--background-navbar);
      position: fixed;
      width: 100%;
      height: 65px;
    }
    
    /* Nav items */
    .menu {
      list-style: none;
      position: absolute;
      width: 100%;
      height: auto;
      top: 0;
      margin-top: 52px;
      padding: 0 0 10px 0;
      clear: both;
      background: var(--background-navbar);
      transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
      transform: scale(1, 0);
      transform-origin: top;
    }
    
    /* Hamburger menu button */
    .menu-btn:checked ~ .menu {
      transform: scale(1, 1);
      transform-origin: top;
      transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    }
    
    /* Hamburger menbu text */
    .menu a {
      text-decoration: none;
      font-weight: 500;
      letter-spacing: 2px;
      font-size: 16px;
      text-transform: capitalize;
      color: #ddd;
      opacity: 0;
      transition: 0.5s;
    }
    
    .menu li {
      border-top: 1px solid rgb(75, 75, 75);
      padding: 15px 0;
      margin: 0 54px;
      opacity: 0;
      transition: 0.5s;
    }
    
    .menu-btn:checked ~ .menu a,
    .menu-btn:checked ~ .menu li {
      opacity: 1;
      transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
    }
    
    .menu-btn {
      position: fixed;
      display: none;
    }
    
    .menu-icon {
      /* display: inline-block; */
      position: absolute;
      cursor: pointer;
      top: 32px;
      left: 65px;
      /* padding: 32px 0 14px 80px; */
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    
    .navicon {
      background: #ddd;
      display: block;
      height: 3px;
      width: 26px;
      position: relative;
      transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    }
    
    .navicon:before,
    .navicon:after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      background: #ddd;
      transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    }
    
    .navicon:before {
      top: 9px;
    }
    
    .navicon:after {
      bottom: 9px;
    }
    
    /* Hamburger Menu Animation Start */
    .menu-btn:checked ~ .menu-icon .navicon:before {
      transform: rotate(-45deg);
    }
    
    .menu-btn:checked ~ .menu-icon .navicon:after {
      transform: rotate(45deg);
    }
    
    .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
      top: 0;
    }
    .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
      bottom: 0;
    }
    
    .menu-btn:checked ~ .menu-icon .navicon {
      background: rgba(0, 0, 0, 0);
      transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    }
    /* Hamburger Menu Animation End */
    
    /* Navbar Container */
    .navtext-container {
      width: 100%;
      height: 65px;
      position: absolute;
      box-sizing: border-box;
      display: flex;
      justify-content: right;
      /* align-items: right; */
    }


    /*ページネーション*/
    .wrapper{
      padding: 40px 0 0 0;
      text-align: center;
    }

    .pager{
      display: inline-flex;
      /* align-items: center; */
      
    }

    .page{
      
      margin-left: 5px;
      margin-right: 5px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      overflow: hidden;
      background: #000000;
      border: solid 2px #ffffff;
      font-size: 14px;
      color: #111;
      font-weight: bold;
      transition: all 0.15s linear;
    }

    /*おすすめカテゴリーボタンクリック*/
    .kotira{
      width: 40%;
      transition: all 0.5s;
    }

    .kotira:hover{
      width: 38%;
    }


    .toiawase{
      color: #fff;
    }


    /*問い合わせフォーム*/
    #contact {
      width: 100%;
      height: 100%;
    }
    
    .section-header {
      text-align: center;
      margin: 0 auto;
      padding: 40px 0;
      font: 300 60px 'Oswald', sans-serif;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 6px;
    }
    
    .contact-wrapper {
      text-align: center;
      /* display: flex; */
      /* flex-direction: row;
      justify-content: space-between; */
      margin: 0 auto;
      padding: 20px;
      /* position: relative; */
    }
    
    /* Left contact page */
    .form-horizontal {
      /*float: left;*/
      max-width: 100%;
      font-family: 'Lato';
      font-weight: 400;
    }
    
    .form-control, 
    textarea {
      width: 70%;
      max-width: 800px;
      background-color: #000;
      color: #fff;
      letter-spacing: 1px;
      border: 2px solid #ffffff;
      border-radius: 5px;
    }

    .form-group{
      padding: 0 0 10px 0;
    }
    
    .send-button {
      margin-top: 15px;
      height: 34px;
      width: 50%;
      overflow: hidden;
      transition: all .2s ease-in-out;
    }
    
    .alt-send-button {
      width: 800px;
      height: 34px;
      transition: all .2s ease-in-out;
    }
    
    .send-text {
      display: block;
      margin-top: 10px;
      font: 700 12px 'Lato', sans-serif;
      letter-spacing: 2px;
    }
    
    .alt-send-button:hover {
      transform: translate3d(0px, -29px, 0px);
    }
    
    /* Social Media Icons */
    .social-media-list {
      position: relative;
      font-size: 22px;
      text-align: center;
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }
    
    .social-media-list li a {
      color: #fff;
    }
    
    .social-media-list li {
      position: relative; 
      display: inline-block;
      height: 60px;
      width: 60px;
      margin: 10px 3px;
      line-height: 60px;
      border-radius: 50%;
      color: #fff;
      background-color: rgb(27,27,27);
      cursor: pointer; 
      transition: all .2s ease-in-out;
    }
    
    .social-media-list li:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      line-height: 60px;
      border-radius: 50%;
      opacity: 0;
      box-shadow: 0 0 0 1px #fff;
      transition: all .2s ease-in-out;
    }
    
    .social-media-list li:hover {
      background-color: #fff; 
    }
    
    .social-media-list li:hover:after {
      opacity: 1;  
      transform: scale(1.12);
      transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
    }
    
    .social-media-list li:hover a {
      color: #000;
    }
    
    .copyright {
      font: 200 14px 'Oswald', sans-serif;
      color: #555;
      letter-spacing: 1px;
      text-align: center;
    }
    
    hr {
      border-color: rgba(255,255,255,.6);
    }
    
    /* Begin Media Queries*/
    @media screen and (max-width: 850px) {
      .contact-wrapper {
        display: flex;
        flex-direction: column;
      }
      .direct-contact-container, .form-horizontal {
        margin: 0 auto;
      }  
      
      .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
      }    
      .social-media-list li {
        height: 60px;
        width: 60px;
        line-height: 60px;
      }
      .social-media-list li:after {
        width: 60px;
        height: 60px;
        line-height: 60px;
      }
    }
    
    @media screen and (max-width: 569px) {
    
      .direct-contact-container, .form-wrapper {
        float: none;
        margin: 0 auto;
      }  
      .form-control, textarea {
        
        margin: 0 auto;
      }
     
      
      .name, .email, textarea {
        width: 280px;
      } 
      
      .direct-contact-container {
        margin-top: 60px;
        max-width: 280px;
      }  
      .social-media-list {
        left: 0;
      }
      .social-media-list li {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 2rem;
      }
      .social-media-list li:after {
        width: 55px;
        height: 55px;
        line-height: 55px;
      }
      
    }
    
    @media screen and (max-width: 410px) {
      .send-button {
        width: 99%;
      }
    }

    .midasi{
      padding: 0 7%;
      font-size: 5vw;
      
    }

    .tags_hairetu_1{
      padding: 0 10% 15% 10%;
      /* display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 5% 10%; */
    }

    .tags_hairetu_2{
      list-style: none;
      font-size: 3vw;
    }

    .container{
      position: relative;
      width: 60%;
      height: 100%;
      margin: auto;
    }

    .Time_recipe{
      font-family: "myfont", sans-serif;
      border-radius: 12px;
      width: 30%;
      height: 10%;
      background-color: #9ea0a0d4;
      position: absolute;
      color: rgb(0, 0, 0);
      padding:0;
      margin:0;
      top: 0;
      left: 0;
    }

    .Time_cook{
      padding: 1% 0 0 0;
      font-size: 105%;
    }

    .omission{
      color: #fff;
      padding-top: 2%;
    }

    .repeat{
      width: 100%;
      height: auto;
      text-align: center;
      align-items: center;
      padding-bottom: 70px;
      
    }
    .repeat_img{
      border-radius: 32px;
      padding: 3% 5%;
      width: 10%;
      height: 90%;
      object-fit: cover;
    }

    .repeat_text{
      font-size: 1.5vw;
      font-family: "titlefont", sans-serif;
    }

    .paginetion{
      padding-bottom: 50px;
    }


    .flipLeft{
      text-align: center;
      font-family: 'Cormorant', serif;
      font-size: 100%;
      font-weight: bold;
      animation-name:flipLeftAnime;
      animation-duration:1.0s;
      animation-fill-mode:forwards;
      perspective-origin:left center;
      opacity:0;
      }
      
      @keyframes flipLeftAnime{
        from {
         transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
        opacity: 0;
        }
      
        to {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
        opacity: 1;
        }
      }

      .delay-time04{  
        animation-delay: 0.4s;
      }

      /* 拡大 */
      .zoomIn{
        animation-name:zoomInAnime;
        animation-duration:1.0s;
        animation-fill-mode:forwards;
      }

      @keyframes zoomInAnime{
        from {
        transform: scale(0.6);
        opacity: 0;
        }

        to {
          transform: scale(1);
        opacity: 1;
        }
      }

      /* スクロールをしたら出現する要素にはじめに透過0を指定　*/
      
      .zoomOutTrigger{
        opacity: 0;
      }

      .menber{
        background-image: url(@/assets/img/syoukai_back1.png);
        background-size: cover;
        padding: 10% 0;
        background-color: rgba(0, 0, 0, 0.1);
      }

      .syoukai{
        font-size: 1.5vw;
        padding: 15px 0;
        text-align: center;
        color: #fff;
      }

      .syoukai_buttom{
        display: block;
        margin: auto;
        padding: 4px 2%;
        border-radius: 4px;
        background-color: #4b4b4b;
        border: solid 1px #ccc;
        color: #fff;
        margin-top: 5%;
      }